.DS_Store
/.idea
/coverage
/src
/docs
/tests
/node_modules
/.jestrc.json
/.gitlab-ci.yml
/.gitignore
/.eslintrc
/.eslintcache
/tsconfig.json
/tsconfig.jest.json
/tsconfig.all.json
/yarn.lock
/yarn-error.log
